<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Online Liquor Store</title>
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> &lt;!&ndash; load bootstrap css &ndash;&gt;-->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!-- load fontawesome -->
    <link rel="stylesheet" href="../assets/css/site.min.css">
    <style>
        body {
            padding-top: 80px;
        }
    </style>


</head>
<body ng-app="app" ng-controller="AppCtrl">
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top main-nav" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Online Liquor</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="about.html">About</a>
                </li>
                <li>
                    <a href="services.html">Services</a>
                </li>
                <li>
                    <a href="contact.html">Contact</a>
                </li>
                <li>
                    <!--<a type="button" class="btn btn-default login-btn" data-toggle="modal"  data-target="#myModal" href="#myModal">Login</a>  &lt;!&ndash;Login modal&ndash;&gt;-->
                    <a href="/login" class="btn btn-default login-btn"><span class="fa fa-user"></span> Login</a>
                </li>
                <li>
                    <a href="/signup" class="btn btn-default sign-up-btn"><span class="fa fa-user"></span> Signup</a>

                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->


    </div>
    <!-- /.container -->
</nav>

<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('../assets/images/slider-pic2.jpg');"></div>
            <div class="carousel-caption">
                <h2>Caption 1</h2>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <!--<a class="left carousel-control" href="#myCarousel" data-slide="prev">-->
    <!--<span class="icon-prev"></span>-->
    <!--</a>-->
    <!--<a class="right carousel-control" href="#myCarousel" data-slide="next">-->
    <!--<span class="icon-next"></span>-->
    <!--</a>-->
</header>

<!-- Page Content -->
<div class="container wrapper">

    <!-- Marketing Icons Section -->
    <div class="row products">
            <h2 class="page-header">
                Our products
            </h2>
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="panel panel-default" on-finish-render>
                <div class="panel-heading">
                    <h4>Beers</h4>
                </div>
                <div class="panel-body">
                    <div class="img-wrap">
                        <img class="img-responsive" src="../assets/images/prod2.png"/>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla
                        aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus
                        eveniet incidunt dicta nostrum quod?</p>
                    <div class="btn-wrap"><a href="/login" class="btn btn-default">View more</a></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Whiskey</h4>
                </div>
                <div class="panel-body">
                    <div class="img-wrap">
                        <img class="img-responsive" src="../assets/images/prod3.jpg"/>
                    </div>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla
                        aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus
                        eveniet incidunt dicta nostrum quod?</p>
                    <div class="btn-wrap"><a href="/login" class="btn btn-default">View more</a></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="panel panel-default" on-finish-render>
                <div class="panel-heading">
                    <h4>Red Wine</h4>
                </div>
                <div class="panel-body">
                    <div class="img-wrap">
                        <img class="img-responsive" src="../assets/images/prod5.png"/>
                    </div>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla
                        aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus
                        eveniet incidunt dicta nostrum quod?</p>
                    <div class="btn-wrap"><a href="/login" class="btn btn-default">View more</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row products">
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="panel panel-default" on-finish-render>
                <div class="panel-heading">
                    <h4>White wine</h4>
                </div>
                <div class="panel-body">
                    <div class="img-wrap">
                        <img class="img-responsive" src="../assets/images/prod5.png"/>
                    </div>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla
                        aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus
                        eveniet incidunt dicta nostrum quod?</p>
                    <div class="btn-wrap"><a href="/login" class="btn btn-default">View more</a></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="panel panel-default" on-finish-render>
                <div class="panel-heading">
                    <h4>Vodka</h4>
                </div>
                <div class="panel-body">
                    <div class="img-wrap">
                        <img class="img-responsive" src="../assets/images/prod6.png"/>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla
                        aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus
                        eveniet incidunt dicta nostrum quod?</p>
                    <div class="btn-wrap">
                        <div class="btn-wrap"><a href="/login" class="btn btn-default">View more</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <div class="panel panel-default" on-finish-render>
                <div class="panel-heading">
                    <h4>Gin</h4>
                </div>
                <div class="panel-body">
                    <div class="img-wrap">
                        <img class="img-responsive" src="../assets/images/prod7.png"/>
                    </div>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla
                        aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus
                        eveniet incidunt dicta nostrum quod?</p>
                    <div class="btn-wrap"><a href="/login" class="btn btn-default">View more</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->
</div>
<!-- /.container -->
<hr>
<!-- Footer -->
<footer class="footer">
    <div class="row">
        <div class="col-lg-12">
            <p>Copyright &copy; Your Website 2014</p>
        </div>
    </div>
</footer>

<script src="assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="assets/vendor/angular/angular.min.js"></script>
<script src="assets/vendor/angular-route/angular-route.js"></script>
<script src="assets/vendor/gsap/src/minified/TweenMax.min.js"></script>
<script src="assets/app.js"></script>
<script src="assets/js/controllers/app-controller.js"></script>

</body>
</html>