.profile {
  background: url('../images/carousel-4.jpg') no-repeat;
  background-size: cover;

  .page-header {
    text-align: left;
    padding-left: 30px;
    border: none;

    h2 {
      padding-bottom: 30px;
      color: $white;
    }
  }

  .profile-details {

    .profile-wrap {
      margin-left: 30px;
      background-color: rgba(0, 0, 0, 0.5);
      height: 100%;

      .profile-header {
        padding-bottom: 9px;
        margin: 40px 0 20px;
        border-bottom: 1px solid #eee;
        h3 {
          color: $white;
        }
      }

      .form-group {

        img {
          margin: 0 auto;
        }

        label {
          color: $white;
        }

        .form-control {
          background-color: transparent;
          color: $white;
        }
      }

      .password-row {
        padding-top: 40px;
        margin-top: 40px;
        border-top: 1px solid #eee;
      }
    }
  }
}